/*Cores do sistema*/
:root {
  --bg-color: #fef9f3;
  --primary: #fb7d87;
  --primary-transparent: #fb7d8728;
  --secondary: #bda0ec;
  --teal: #45afb4;
  --warning: #fdbd74;
  --text-dark: #333;
  --card-white: #feecee;
  --card-white-hover: #ffffff;
}
/*Formatação Geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
/*Formatação do Body*/
body {
  background-color: var(--bg-color);
  color: var(--text-dark);
  font-size: 16px;
  overflow-x: hidden;
}