/*Configurações da Navbar no Desktop*/
@media (min-width: 769px) {
  /*Navbar*/
  header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100dvh;
    width: 250px;
    border: 1px solid #fb7d8738;
    border-radius: 10px;
    padding: 40px 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
  /*Div da logo e slogan*/
  .inicio {
    display: flex;
    flex-direction: column;
  }
  /*Logo*/
  .logo {
    font-size: 25px;
    font-weight: 800;
    color: var(--text-dark);
  }
  /*Slogan*/
  .slogan {
    font-size: 15px;
    font-weight: 300;
    color: var(--primary);
    text-transform: uppercase;
  }
  /*Div da Navbar*/
  .navbar {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    height: 100%;
  }
  /*Opções da Navbar*/
  .opcoes {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 100%;
  }
  #configuracoes {
  margin-top: auto; 
  margin-bottom: 20px; /* Um respiro no final da tela */
}
  /*Telas da Navbar*/
  .nav-item {
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    color: var(--text-dark);
    height: 45px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10%;
  }
  /*Opção da Navbar Hover*/
  .nav-item:hover {
    color: var(--text-dark);
    background-color: var(--card-white-hover);
    border-radius: 30px;
  }
  /*Opção da Navbar Ativa*/
  .nav-item.active {
    background-color: var(--card-white);
    color: var(--primary);
    font-weight: 600;
  }
}

/*Configurações da Navbar no mobile*/
@media (max-width: 768px) {
  /*Configurações da Navbar*/
  header {
    border: 1px solid #fb7d8738;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px 15px;
    height: 70px;
  }
  /*Limpa de nomes*/
  h1, p, span {
    display: none;
  }
  /*Div da Navbar*/
  .navbar {
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  /*Opções da Navbar*/
  .opcoes {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0;
  }
  /*Telas da Navbar*/
  .nav-item {
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  /*Opção da Navbar Ativa*/
  .nav-item.active {
    background-color: var(--card-white);
    color: var(--primary);
    font-weight: 600;
  }
  /*Icons*/
  svg {
    width: 25px;
    height: 25px;
    font-weight: 900;
  }
}
